<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1qloHA2QDRldxNvXILARLy17c3gBVRyw</string>
	<key>GCM_SENDER_ID</key>
	<string>921794004450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoMentorx</string>
	<key>PROJECT_ID</key>
	<string>auto-mintorx</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-mintorx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921794004450:ios:cd6d2e101dcbaaf4f525bb</string>
</dict>
</plist>